header {
  background-color:  #1F1F1F;
  overflow: hidden;
}

/* stilo de links de navegacion */
header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 13px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

/* cambio de color con cursor */
header a:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
}

/* link activo */
header a.active {
  background-color: #8A2BE2;
  color: white;
  border-radius: 10px;
}

body {
    background: #0A0A0A;
    
}
p{
    color: #F2F2F2;
    
} 




header{
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}








/* Galería de artistas */

div.galleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.galleria-item {
  margin: 5px;
  border: 1px solid #fcfcfc65;
  width: 180px;
}

div.galleria-item:hover {
  border: 1px solid #2c3e50;
}

div.galleria-item img {
  width: 100%;
  height: auto;
}

div.galleria-item div.texto {
  padding: 15px;
  text-align: center;
  color: #F2F2F2;
}




/* Pie de página */
footer {
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    border-radius: 10px;
    
}