.topnav {
  background-color:  #2c3e50;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(116, 181, 201);
  color: white;
}

body {
    background: #b5c1cb;
}




header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 0px;
}







/* Galería de artistas */

div.galleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.galleria-item {
  margin: 5px;
  border: 1px solid #fcfcfc65;
  width: 180px;
}

div.galleria-item:hover {
  border: 1px solid #2c3e50;
}

div.galleria-item img {
  width: 100%;
  height: auto;
}

div.galleria-item div.texto {
  padding: 15px;
  text-align: center;
}




/* Pie de página */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
   
}